/*geral*/
body {
    background-color: #fdfd96;
    padding:0px;
    margin:0px;
    display: flex
    flex-direction: column;
}

h1 {
    font-style: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    margin-left: 34%;
    margin-bottom: 10%;
}

p {
    margin-top: 5%;
    width: 60%;
    text-align: justify;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }    

/*caixas de texto*/
table {
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
    

tr {
    
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa{
    border: 2px solid black;
}


/*resultados e button*/
button {
    margin-top: 2%;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

#resultado {
    text-align: center;
    position: relative;
    left: 25%;
    width: 50%;
    }



